<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppRestaran"
        tools:targetApi="31">
        <activity
            android:name=".activity.departments.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.departments.worker.AccountantActivity"
            android:exported="false" />
        <activity
            android:name=".activity.departments.worker.TablesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.departments.worker.WarehouseWorkerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.departments.worker.ManagersActivity"
            android:exported="false" />
        <activity
            android:name=".activity.departments.worker.CookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.departments.worker.OfitsantsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.departments.WearHouseProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.departments.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pinCode.CheckPinCodeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.pinCode.RepeatPinCodeActivit"
            android:exported="false" />
        <activity
            android:name=".activity.pinCode.PinCodeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.adminPanel.AdminMainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.adminPanel.AdminRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.splashScren.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>